<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="kojin_0H05042.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <kojin_0H05042.Properties.Settings>
            <setting name="lblMinute" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="lblSecound" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="restMinute" serializeAs="String">
                <value>05</value>
            </setting>
            <setting name="restSecound" serializeAs="String">
                <value>00</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="auto1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto2" serializeAs="String">
                <value>False</value>
            </setting>
        </kojin_0H05042.Properties.Settings>
    </userSettings>
</configuration>